body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: black;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

li {
    display: inline;
    padding: 20px
}


#aviation{
    width: 850px;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid lightgray
}

