body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: black;
}


.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.5)) ,url("../sample.html");
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    position: relative

}

.hero-text{
    color:white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#main{
    width:75%;
    float:right;
    height:100%;
    padding-left: 20px;
    padding-top: 20px;
}

#side{
    width: 20%;
    float: left;
    height: 100%;
    padding: 20px; 
}

#profile-image{
    width:100px;
    border-radius: 10px;
    border: 5px solid lightgray
}

#profile{
    text-align: center;   
}

.side-articles ul{
    list-style-type: none;
    padding-left: 0px;
}

#profile h2{
    display: inline;
}

#profile-details{
    margin-right: 0px;
    text-align: center;
}

#pup-image{
    width:300px;
    border-radius: 10px;
    border: 5px solid lightgray
}

#astro-image{
    width:300px;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid lightgray
}

.side-articles, .main-articles {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.side-articles{
    background-color: gray;
    text-align: center;
}

.main-articles{
    background-color: lightseagreen;
}

#team-image{
    width:600px;
    border-radius: 10px;
    border: 5px solid lightgray
}

form{
    margin-top: 20px;
}

textarea, input{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.side-articles h1{
    margin-bottom: 20px;
}

footer{
    bottom: 0px;
    width: 100%;
    background-color: black;
    height:5vh;
    margin-top: 0px;
}

footer div{
    text-align: center;
    color:white;
    border:0px;

}

main{
    overflow:auto;
}

footer hr{
    margin-top: 0px;
    height:10px;
    border: 0px;
    box-shadow: inset 0 12px 12px -12px white

}